{% extends 'base.html' %}
{% load static %}

{% block title %}
     Update password
{% endblock title %}


{% block content %}

<br>
<h1 style="text-align: center; color: deepskyblue; padding: 50px; font-family: inherit;">Please Update Password</h1>
<br>
<br>

    <form method="post">
        {% csrf_token %}
        <b>{{ form.as_p }}</b>

        <br>
        <br>
        <input type="submit" value="Done" class="btn btn-success">
        <a href="{% url 'account:myprofile' %}" class="btn btn-secondary">Back</a>
    </form>
<br>
<br>
<br>
    


<br>
<br>
<br>


{% endblock content %}