{% extends 'base.html' %}
{% load static %}


{% block title %}
    Sign In
{% endblock title %}

{% block content %}




<h1 style="text-align: center; color: deepskyblue; padding: 50px; font-family: inherit;">Please Sign In</h1>

<br>
<br>
<br>

    <form method="post">
        {% csrf_token %}
        
        <div class="container">
            <h3>username</h3>
            {{ form.username }}
        </div>
        <br>
        <div class="container">
            <h3>password</h3>
            {{ form.password }}
        </div>
        <br>
        <div class="container">
            <input type="submit" value="Sign In" class="btn btn-warning">
            <a href="{% url 'account:signup' %}" class="btn btn-info">Sign Up</a>
        </div>
    </form>
<br>
<br>

{% endblock content %}