{% extends 'base.html' %}
{% load static %}



{% block title %}
     My profile 
{% endblock title %}


{% block menu %}
  
<nav class="navbar navbar-expand-sm bg-dark navbar-transparent">
     <ul class="nav nav-tabs" id="myTab" role="tablist">
       <li class="nav-item">
         <a class="nav-link h2" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true" style="color: cornflowerblue;">Home</a>
       </li>
       <li class="nav-item">
         <a class="nav-link h2" id="category-tab" data-toggle="tab" href="{% url 'home:categories' %}" role="tab" aria-controls="category" aria-selected="false" style="color: cornflowerblue;">Category</a>
       </li>
       {% if user.is_authenticated %}
       <li class="nav-item">
         <a class="nav-link h2" id="create-tab" data-toggle="tab" href="{% url 'home:createar' %}" role="tab" aria-controls="create" aria-selected="false" style="color: cornflowerblue;">Create</a>
       </li>
       {% endif %}
       <li class="nav-item">
         <a class="nav-link h2" id="contact" data-toggle="tab" href="{% url 'account:contact' %}" role="tab" aria-controls="contact" aria-selected="false" style="color: rgba(228, 75, 218, 0.514);">Contact</a>
       </li>
     </ul>
     <form class="form-inline my-2 my-lg-0" style="padding: 35px 30px 0 35px;" method="GET" action="{% url 'account:search' %}">
       <input class="form-control mr-sm-2" name="search" type="search" placeholder="type search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
     
     {% if user.is_authenticated %}
     <li class="nav-item">
       <div class="header-action-icon-2">
           <a href="{% url 'account:myprofile' %}">
               <img alt="wowy" src="{% static 'img/user.png' %}" style="width: 65px; height: 65px;">
           </a>
       </div>
     </li>
       <div style="padding: 30px 0 0 20px">
          <a href="{% url 'account:logout' %}" class="btn btn-info" style="color: darkmagenta;">Log Out</a>
       </div>
     {% else %}
         <div style="padding: 30px 0 0 20px">
           <a href="{% url 'account:signin' %}" class="btn btn-info" style="color: darkmagenta;">Log In / Register</a>
         </div>
     {% endif %}
   </div>
 </nav>

{% endblock menu %}


{% block content %}

<br>
<h1 style="text-align: center; color: deepskyblue; padding: 50px; font-family: inherit;">Your Profile</h1>
<br>
<br>


     {% if user.image_user %}
          <img src="{{ user.image_user.url }}" alt="Image" style="width: 200px; height: 200px; border-radius: 60%;">
          <br>
          <br>          
     {% else %}
          <img src="{% static 'img/user.png' %}" alt="" style="width: 200px; height: 200px; border-radius: 60%;">
          <br>
          <br>
          <br>
     {% endif %}

     <p><b>Username:</b> {{ user.username }}</p>
     <p><b>Email:</b> {{ user.email }}</p>
     <p><b>Phone:</b> {{ user.phone }}</p>
     <p><b>First name:</b> {{ user.first_name }}</p>
     <p><b>Last name:</b> {{ user.last_name }}</p>
     <p><b>Joined:</b> {{ user.date_joined }}</p>
     <a href="{% url 'account:changepassword' %}" class="btn btn-info">Change password</a>
     <br>
     <br>
     <a href="{% url 'home:myarticles' %}" class="btn btn-info">Your articles count: {{ user.user_news.count }}</a>


<br>
<br>
<br>
<a href="{% url 'account:updateprofile' %}" class="btn btn-primary">Update profile</a>
<a href="{% url 'home:all' %}" class="btn btn-secondary">Back</a>
<br>
<br>
<br>
<br>


{% endblock content %}