{% extends 'base.html' %}
{% load static %}



{% block title %}
     My profile 
{% endblock title %}

{% block content %}

<br>
<h1 style="text-align: center; color: deepskyblue; padding: 50px; font-family: inherit;">Your Profile</h1>
<br>
<br>


     {% if user.image_user %}
          <img src="{{ user.image_user.url }}" alt="Image" style="width: 200px; height: 200px; border-radius: 60%;">
          <br>
          <br>          
     {% else %}
          <img src="{% static 'img/user.png' %}" alt="" style="width: 200px; height: 200px; border-radius: 60%;">
          <br>
          <br>
          <br>
     {% endif %}

     <p><b>Username:</b> {{ user.username }}</p>
     <p><b>Email:</b> {{ user.email }}</p>
     <p><b>Phone:</b> {{ user.phone }}</p>
     <p><b>First name:</b> {{ user.first_name }}</p>
     <p><b>Last name:</b> {{ user.last_name }}</p>
     <p><b>Joined:</b> {{ user.date_joined }}</p>
     <a href="{% url 'account:changepassword' %}" class="btn btn-info">Change password</a>
     <br>
     <br>
     <a href="{% url 'home:myarticles' %}" class="btn btn-info">Your articles count: {{ user.user_news.count }}</a>


<br>
<br>
<br>
<a href="{% url 'account:updateprofile' %}" class="btn btn-primary">Update profile</a>
<a href="{% url 'home:all' %}" class="btn btn-secondary">Back</a>
<br>
<br>
<br>
<br>


{% endblock content %}