/* /* unvisited link */
a:link {
     color: black;
} 

/* visited link */
a:visited {
     color: black;
}

/* mouse over link */
a:hover {
     color: darkblue;
}

/* selected link */ */
a:active {
     color: darkblue;
}

a{
     text-decoration: none;
}



/* unvisited link */
h5:link {
     color: black;
}

/* visited link */
h5:visited {
     color: green;
}

/* mouse over link */
h5:hover {
     color: darkblue;
}

/* selected link */
h5:active {
     color: darkblue;
}
