{% extends "base.html" %}
{% load static %}


{% block title %}
     Category detail
{% endblock title %}


{% block menu %}
  
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-sm bg-dark navbar-transparent">
     <ul class="nav nav-tabs" id="myTab" role="tablist">
       <li class="nav-item">
         <a class="nav-link h2" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true" style="color: cornflowerblue;">Home</a>
       </li>
       <li class="nav-item">
         <a class="nav-link h2 active" id="category-tab" data-toggle="tab" href="{% url 'home:categories' %}" role="tab" aria-controls="category" aria-selected="false" style="color: cornflowerblue;">Category</a>
       </li>
       <li class="nav-item">
         <a class="nav-link h2" id="create-tab" data-toggle="tab" href="{% url 'home:createar' %}" role="tab" aria-controls="create" aria-selected="false" style="color: cornflowerblue;">Create</a>
       </li>
       <li class="nav-item">
         <a class="nav-link h2" id="contact" data-toggle="tab" href="{% url 'account:contact' %}" role="tab" aria-controls="contact" aria-selected="false" style="color: rgba(228, 75, 218, 0.514);">Contact</a>
       </li>
     </ul>
     <form class="form-inline my-2 my-lg-0" style="padding: 35px 30px 0 35px;" method="GET" action="{% url 'account:search' %}">
       <input class="form-control mr-sm-2" name="search" type="search" placeholder="type search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
     
     <li class="nav-item">
       <div class="header-action-icon-2">
           <a href="{% url 'account:myprofile' %}">
               <img alt="wowy" src="{% static 'img/user.png' %}" style="width: 65px; height: 65px;">
           </a>
       </div>
     </li>
       <div style="padding: 30px 0 0 20px">
          <a href="{% url 'account:logout' %}" class="btn btn-info" style="color: darkmagenta;">Log Out</a>
       </div>

   </div>
 </nav>

{% else %}
 <div style="padding: 30px 0 0 20px">
   <a href="{% url 'account:signin' %}" class="btn btn-info" style="color: darkmagenta;">Log In / Register</a>
 </div>
{% endif %}

{% endblock menu %}


{% block content %}
  

     <h1 style="text-align: center; color: deepskyblue; padding: 50px; font-family: inherit;">{{ category.name }} - Category </h1>
     <br>
     <br>
     <br>

          <a href="{% url 'home:categories' %}" class="btn btn-dark">Back to list</a>
          
          {% for ctg in categoryy %}
          <div class="card border-primary mb-3" style="padding: 30px; margin: 30px; background-color: azure;">
               <a href="{% url 'home:detail' ctg.slug %}" style="color: black;">
                    <img src="{{ ctg.image.url }}" style="width: 500px; height: 300px;"/>
                    <br>
                    <br>
               </a>
               <a href="{% url 'home:detail' ctg.slug %}" style="text-decoration: none;">
                    <h5 class="card-title">{{ ctg.title }}</h5>
               </a>

               <p class="card-text">{{ ctg.subtitle }}</p>
               <br>
               <span><b style="color: black;">author: <a href="{% url 'home:personprofile' ctg.author.username %}" style="text-decoration: none;">{{ ctg.author }}</a></b></span>
               <p class="card-text"><h6 class="text-muted"><i class="fas fa-calendar-alt me-1"></i> Data: {{ ctg.created_at |date:"H:i/d.m.Y" }} | <i class="bi bi-eye-fill"></i>Views: {{ ctg.views }}</h6></p>
          </div>
          {% endfor %}



{% endblock content %}