{% extends "base.html" %}

{% block title %}
     Category detail
{% endblock title %}

{% block content %}
  

     <h1 style="text-align: center; color: deepskyblue; padding: 50px; font-family: inherit;">{{ category.name }} - Category </h1>
     <br>
     <br>
     <br>

          <a href="{% url 'home:categories' %}" class="btn btn-dark">Back to list</a>
          
          {% for ctg in categoryy %}
          <div class="card border-primary mb-3" style="padding: 30px; margin: 30px; background-color: azure;">
               <a href="{% url 'home:detail' ctg.slug %}" style="color: black;">
                    <img src="{{ ctg.image.url }}" style="width: 500px; height: 300px;"/>
                    <br>
                    <br>
               </a>
               <a href="{% url 'home:detail' ctg.slug %}" style="text-decoration: none;">
                    <h5 class="card-title">{{ ctg.title }}</h5>
               </a>

               <p class="card-text">{{ ctg.subtitle }}</p>
               <br>
               <span><b style="color: black;">author: <a href="{% url 'home:personprofile' ctg.author.username %}" style="text-decoration: none;">{{ ctg.author }}</a></b></span>
               <p class="card-text"><h6 class="text-muted"><i class="fas fa-calendar-alt me-1"></i> Data: {{ ctg.created_at |date:"H:i/d.m.Y" }} | <i class="bi bi-eye-fill"></i>Views: {{ ctg.views }}</h6></p>
          </div>
          {% endfor %}



{% endblock content %}