{% extends "base.html" %}
{% load static %}


{% block title %}
     Contact us
{% endblock title %}



{% block content %}
        

<h1 style="text-align: center; color: deepskyblue; padding: 50px; font-family: inherit;">Contact Us</h1>

      <!-- Contact Start -->
      <div class="contact" style="padding: 50px;">
          <div class="container-fluid">
              <div class="row align-items-center">
                  <div class="col-md-4">
                        <div class="form">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-9">
                                        <input type="text" class="form-control" name="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                                    </div>
                                    <div class="form-group col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                    </div>
                                    <div class="form-group col-md-9">
                                        <input type="text" class="form-control" name="phone" placeholder="Your Phone" required="required" data-validation-required-message="Please enter your phone"/>
                                    </div>
                                </div>
                                <div class="form-group col-md-14">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter your subject" />
                                </div>
                                <div class="form-group ">
                                    <textarea class="form-control" rows="5" name="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                                </div>
                                <div><button class="btn btn-success" type="submit">Send Message</button></div>
                            </form>
                        </div>
                  </div>
                    <div class="col-md-4">
                    </div>
                  <div class="col-md-4">
                    <div class="contact-info">
                        <h3 style="color: burlywood;">Get in Touch</h3>
                            <div class="contact-item" style="font-weight: bolder;">
                                <a rel="nofollow" href="#" class="item-link" style="text-decoration: none;">
                                    <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                                    <span class="mb-0">{{ about.my_location }}</span>
                                </a>              
                            </div>
                            <br>
                            <div class="contact-item" style="font-weight: bolder;">
                                <a rel="nofollow" href="#" class="item-link" style="text-decoration: none;">
                                    <i class="far fa-2x fa-envelope mr-4"></i>
                                    <span class="mb-0"> {{ about.my_email }}</span>
                                </a>              
                            </div>
                            <br>
                            <div class="contact-item" style="font-weight: bolder;">
                                <a rel="nofollow" href="#" class="item-link" style="text-decoration: none;">
                                    <i class="fas fa-2x fa-phone-square mr-4"></i>
                                    <span class="mb-0">{{ about.my_phone }}</span>
                                </a>              
                            </div>
                            <br>
                            <div class="social">
                                <a href="{{ about.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
                                <a href="{{ about.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="{{ about.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="{{ about.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>
                            </div>
                              
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Contact End -->

{% endblock content %}


