{% extends "base.html" %}
{% load static %}



{% block title %}
     Update new
{% endblock title %}

{% block content %}
  
     <br>
     <br>
     <br>
     

     <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}

          <br>
          <br>
          <button type="submit" class="btn btn-success">Update</button>
          <a href="{% url 'home:detail' slug %}" class="btn btn-secondary">Back to detail</a>
          <br>
          <br>
          <br>
     </form>




{% endblock content %}